* {
    background-color: rgb(39, 39, 51);
}

#d1 {
    text-align:left;
    padding-top: 10px;
    position: fixed;
    z-index: 1;
    width: 1500px;
    top: 0;
    height: 30px;
    background-color: rgb(43, 41, 51);
    /* border: 2px solid black;  */
    /* position: absolute; */
}

#a1 {
    align-items: center;
    vertical-align: middle;
    text-decoration: none;
    color: orange;
    margin-right: 100px;
    margin-left: 10px;
}

#a2 {
    color: white;
    text-decoration: none;
    margin-left: 350px;
    color: orange;

}

#a3 {
    color: white;
    text-decoration: none;
    margin-left: 40px;

}

#a4 {
    color: white;
    text-decoration: none;
    margin-left: 40px;
}
#a5{
    color: white;
    text-decoration: none;
    margin-left: 40px;

}


#i1 {
    background-color: white;
    text-decoration: none;
    margin-left: 100px;
    border: 2px black;
    border-radius: 10px;
    width: 350px;

}

#b1 {
    color: white;
    text-decoration: none;
    border: 2px black;
    border-radius: 10px;
}




/* footer */

footer {
    border: 2px solid white;
}

.last {
    background-color: rgb(35, 35, 44);
    color: white;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

ul {
    background-color: rgb(35, 35, 44);
}

ul a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 0.85rem;
    background-color: rgb(35, 35, 44);
}

ul p {
    color: orange;
    font-size: 1.2rem;
}

#last1 {
    display: flex;
    margin-left: 700px;
}

#last1 h2 {
    margin-top: 1px;
    margin-bottom: 0;
    height: fit-content;
    color: orange;
    text-align: center;
    background-color: rgb(35, 35, 44);
}

#logo {
    height: 25px;
    width: 25px;
    margin-right: 10px;
}