* {
    background-color: rgb(39, 39, 51);
}

#d1 {
    position: fixed;
    z-index: 1;
    width: 1500px;
    top: 0;
    height: 30px;
    background-color: rgb(43, 41, 51);
    /* border: 2px solid black;  */
    /* position: absolute; */
}

#log {
    text-decoration: none;
   height: 75px;
   width: 150px;
    margin-left: 50px;
    background-color: aqua;
    border: 2px black;
    border-radius: 50%;
}

#a1 {
    align-items: center;
    vertical-align: middle;
    text-decoration: none;
    color: orange;
    margin-right: 100px;
    margin-left: 10px;
}

#a2 {
    color: white;
    text-decoration: none;
    margin-left: 350px;
    color: white;

}

#a3 {
    color: white;
    text-decoration: none;
    margin-left: 50px;

}

#a4 {
    color: orange;
    text-decoration: none;
    margin-left: 50px;
}

#a5 {
    color: white;
    text-decoration: none;
    margin-inline-end: 0px;
    margin-left: 50px;
}

#i1 {
    background-color: white;
    text-decoration: none;
    margin-left: 100px;
    border: 2px black;
    border-radius: 10px;
    width: 350px;

}

#b1 {
    color: white;
    text-decoration: none;
    border: 2px black;
    border-radius: 10px;
}


/* head */

#head {
    color: orange;
    text-align: center;
}


#d2 {
    margin-left: 120px;
    margin-bottom: 20px;
    height: 680px;
    width: 1250px;
    background-color: rgb(228, 226, 236);
    color: orange;
    text-align: center;
    position: relative;
}


/* info pannel */

h2 {
    color: antiquewhite;
    width: fit-content;
    background-color: rgb(46, 43, 58);
}

p {
    width: fit-content;
    background-color: rgb(46, 43, 58);
}

/* reataurent 1 */
#di1:hover {
    transform: scale(1.01, 1.01);
}

#di1 {
    position: absolute;
    height: 200px;
    width: 1200px;
    margin: 20px;
    background-color: rgb(46, 43, 58);
    text-align: start;
    display: flex;

}

#b2 {
    background-color: orange;
    border: 2px white;
    border-radius: 5px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

#b2 a {
    text-decoration: none;
    background-color: orange;
    color: black;
}


#r1 {
    background-color: rgb(46, 43, 58);
    width: 300px;
    margin-top: 15px;
    margin-left: 15px;

}

#info1 {
    background-color: rgb(46, 43, 58);
    /* text-align: start; */
    color: white;
    margin-right: 20px;
    margin-left: 60px;
    /* background-color: rgb(46, 43, 58); */
}

/* restaurent 2 */

#di2:hover {
    transform: scale(1.01, 1.01);
}

#di2 {
    top: 220px;
    position: absolute;
    height: 200px;
    width: 1200px;
    margin: 20px;
    background-color: rgb(46, 43, 58);
    display: flex;
    text-align: start;
}

#b3 {
    background-color: orange;
    border: 2px white;
    border-radius: 5px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

#b3 a {
    text-decoration: none;
    background-color: orange;
    color: black;
}


#i2 {
    height: 165px;
    width: 300px;
}

#r2 {
    background-color: rgb(46, 43, 58);
    width: 300px;
    margin-top: 15px;
    margin-left: 15px;
}

#info2 {
    /* text-align: left; */
    background-color: rgb(46, 43, 58);
    color: white;
    margin-right: 20px;
    margin-left: 60px;
}

/* restaurent 3 */

#di3:hover {
    transform: scale(1.01, 1.01);
}

#di3 {
    top: 440px;
    position: absolute;
    height: 200px;
    width: 1200px;
    margin: 20px;
    background-color: rgb(46, 43, 58);
    display: flex;
    text-align: start;
    /* display: none; */
}

#b4 {
    background-color: orange;
    border: 2px white;
    border-radius: 5px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

/* for anchor tag of b4 */
#b4 a {
    text-decoration: none;
    background-color: orange;
    color: black;
}

#i3 {
    height: 165px;
    width: 300px;
}

#r3 {
    background-color: rgb(46, 43, 58);
    width: 300px;
    margin-top: 15px;
    margin-left: 15px;
}

#info3 {
    /* text-align: left; */
    background-color: rgb(46, 43, 58);
    color: white;
    margin-right: 20px;
    margin-left: 60px;
}


/* footer */
footer{
    border: 2px solid white;
}
.last {
    background-color: rgb(35, 35, 44);
    color: white;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

ul {
    background-color: rgb(35, 35, 44);
}

ul a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 0.85rem;
    background-color: rgb(35, 35, 44);
}

ul p {
    color: orange;
    font-size: 1.2rem;
}

#last1 h2{
    margin-left: 700px;
    margin-top: 1px;
    margin-bottom: 0;
    height: fit-content;
    color: orange;
    text-align: center;
    background-color: rgb(35, 35, 44);
    
}

