body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.signup-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

input[type="text"],
input[type="name"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    font-weight: bold;
}

.input-group {
    text-align: left;
    margin: 10px 0;
    color: rgb(184, 138, 13);
}

.checkbox-group {
    display: flex;
    align-items: center;
}

button {
    background-color: #ffffff;
    color: rgb(184, 138, 13);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px black;
    cursor: pointer;
    
}

a {
    text-decoration: none;
    color: rgb(184, 138, 13);
}

.login-link {
    margin-top: 15px;
    font-size: 15px;
}

.input-group1 {
    text-align: center;
    margin: 10px 0;
    font-size: 20px;
    color: rgb(184, 138, 13);
}
#img{
    height: 25px;
    width: 30px;
}